* {
    margin: 0;
    padding: 0;
    
}

.mainPage {
    background-color: #0d1117;
    height: 100vh;
    width: 100%;
}

h1 {
    padding-top: 20px;
    margin-left: 20px;
    color: #00ff00;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 1.5em;
}

.nav-link {
    margin-top: 10px;
    text-decoration: none;
    color: #00ff00;
}

.nav-link:hover {
    color: #58a6ff;
}