* {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: transparent;
    overflow: hidden;
}

section .waveDark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    rotate: 180deg;
    background: url('../images/wave2.png');
    background-size: 1000px 100px;
}

section .waveLight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    rotate: 180deg;
    background: url('../images/wave3.png');
    background-size: 1000px 100px;
}

section .waveDark.wave1 {
    animation: animate1 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .waveDark.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.75;
    animation-delay: -5s;
    bottom: 10px;
}

section .waveLight.wave3 {
    animation: animate1 30s linear infinite;
    z-index: 998;
    opacity: 0.5;
    animation-delay: -2s;
    bottom: 15px;
}

section .waveLight.wave4 {
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.25;
    animation-delay: -10s;
    bottom: 40px;
}

@keyframes animate1 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}